.timestamp {
  font-size: 60%;
}

.user0 {
  color: red;
  font-weight: bold;
}

.user1 {
  color: blue;
  font-weight: bold;
}

.user2 {
  color: green;
  font-weight: bold;
}

.user3 {
  color: orange;
  font-weight: bold;
}

.user4 {
  color: gold;
  font-weight: bold;
}

.user5 {
  color: magenta;
  font-weight: bold;
}

.user6 {
  color: darkseagreen;
  font-weight: bold;
}

.user7 {
  color: chocolate;
  font-weight: bold;
}

.user8 {
  color: steelblue;
  font-weight: bold;
}

.user9 {
  color: olive;
  font-weight: bold;
}
